.country {
    stroke: #000000;
}
.country-label {
    font-size: 19px;
    font-weight: bold; 
}
#barchart-container-type{
    position: absolute; 
    top: 70%;
    left: 10%;
    width: 300px;
    height: 300px;
}
#barchart-container-fatal_y_n{
    position: absolute; 
    top: 70%;
    left: 40%;
    width: 300px;
    height: 300px;
}
#barchart-container-activity{
    position: absolute; 
    top: 70%;
    left: 70%;
    width: 300px;
    height: 300px;
}
